body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #053C5E;
}

body::before {
    content: " ";
    width: 100%;

    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    z-index: -2;
}

nav {
    color: rgb(255, 255, 255);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 7%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;

}

nav .rightSide {
    gap: 70px;
    display: flex;

}

nav .rightSide a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

nav .rightSide a::before {
    content: "";
    width: 0px;
    height: 20px;
    position: absolute;
    border-bottom: 3px solid rgb(255, 255, 255);
    transition: .2s;

}

nav .rightSide a:hover::before {
    width: 60px;
    height: 20px;
    border-bottom-right-radius: 8px;

}

#menuIcon {
    font-size: 25px;
    cursor: pointer;
    display: none;

}



#modalBody {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 100%;
    display: flex;
    color: rgb(0, 0, 0);
}

#modalBody .modalcontent {
    margin: auto;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 2px 0px rgb(255, 255, 255);
    width: 200px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    background-color: white;
}

#modalBody div h2 {
    font-size: 17px;
    box-sizing: border-box;
}

#modalBody .modalBtn {
    font-size: 13px;
    width: 100%;
    font-weight: bold;
    display: flex;
    gap: 10px;

}

#modalBody .modalBtn button:last-child {
    font-size: 12px;
    width: 100%;
    background-color: #1F7A8C;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 2px solid #1F7A8C;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;

}

#modalBody .modalBtn button:last-child:hover {
    background-color: #218599;
}

#modalBody .modalBtn button:first-child {
    font-size: 12px;
    width: 100%;
    background-color: #053C5E;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: white;
    border: 2px solid #053C5E;
    transition: .2s;
    cursor: pointer;

}

#modalBody .modalBtn button:first-child:hover {
    background-color: #074a74;
}

#logout {
    position: absolute;
    right: 6%;
    margin-top: 20px;
    background-color: white;
    padding: 3px 15px;
    color: black;
    cursor: pointer;
    display: none;
}






@media (max-width:800px) {

    body {
        overflow: hidden;
    }

    #menuIcon {
        display: block;
        position: absolute;
        right: 3%;
        top: 2%;
        color: rgb(255, 255, 255);
    }


    nav .rightSide {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        right: -350px;
        background-color: #0e456871;
        padding: 10px;
        height: 100vh;
        width: 250px;
        margin: auto;
        align-items: center;
        justify-items: center;
        text-align: center;
        transition: .2s;
        z-index: 1;
        backdrop-filter: blur(2px);
        color: rgb(0, 0, 0);

    }

    nav .rightSide a {
        align-items: center;
        display: flex;

        position: relative;
        top: 20%;
    }

    nav .profile {
        width: 100%;
        background-color: #1F7A8C;
        position: absolute;
        padding: 20px;
        top: 0%;
        left: 0;
        text-align: left;
        cursor: pointer;
        color: white;
    }

    #logout {
        position: absolute;
        right: 66%;
        top: 3%;
        background-color: white;
        padding: 3px 15px;
        color: black;
        cursor: pointer;
    }

}








#bankBody {
    position: absolute;
    width: 100%;
    top: 10%;
    z-index: -1;

}

.bankContent {
    background-color: #ffffff;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.473);
}


.bankContent .Balance {
    width: 100%;
    display: flex;
    gap: 5px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;

}

.bankContent .bankBtn {
    width: 40%;
    display: flex;
    gap: 5px;

}

.bankContent .bankBtn button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #1F7A8C;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #1F7A8C;
    transition: .2s;
}

.bankContent .bankBtn button:hover {
    background-color: white;
    color: #1F7A8C;
    border: 2px solid #1F7A8C;
    font-weight: bold;
}





#Withdraw {
    background-color: rgba(0, 0, 0, 0.418);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.withdrawBody {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: black;
    text-align: center;

}

#Withdraw .withdrawInputBody {

    width: 300px;
    display: flex;
    align-items: center;


}

#Withdraw .withdrawInputBody input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline-color: #053C5E;
}

#Withdraw .withdrawInputBody label {
    position: absolute;
    padding: 0px 10px;
    cursor: text;
    transition: .2s;
}

#Withdraw .withdrawInputBody input:focus~label,
#Withdraw .withdrawInputBody input:not(:placeholder-shown)~label {
    color: #053C5E;
    transform: translate(10px, -20px);
    background-color: white;
    font-size: 13px;
    border-left: 1px solid #053C5E;
    border-right: 1px solid #053C5E;
}



#Withdraw .buttonWithdraw {

    padding: 15px 0px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 5px;
}

#Withdraw .buttonWithdraw button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#Withdraw .buttonWithdraw button:first-child {
    background-color: #053C5E;
    color: white;
    font-weight: bold;
}

#Withdraw .buttonWithdraw button:first-child:hover {
    background-color: #05466e;

}

#Withdraw .buttonWithdraw button:last-child {
    background-color: rgb(168, 168, 168);
    color: #ffffff;
    font-weight: bold;
}

#Withdraw .buttonWithdraw button:last-child:hover {
    background-color: rgb(146, 146, 146);

}



#Deposit {
    background-color: rgba(0, 0, 0, 0.418);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.depositBody {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: black;
    text-align: center;

}




#Deposit .depositInputBody {

    width: 300px;
    display: flex;
    align-items: center;


}

#Deposit .depositInputBody input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline-color: #053C5E;
}

#Deposit .depositInputBody label {
    position: absolute;
    padding: 0px 10px;
    cursor: text;
    transition: .2s;
}

#Deposit .depositInputBody input:focus~label,
#Deposit .depositInputBody input:not(:placeholder-shown)~label {
    color: #053C5E;
    transform: translate(10px, -20px);
    background-color: white;
    font-size: 13px;
    border-left: 1px solid #053C5E;
    border-right: 1px solid #053C5E;
}



#Deposit .buttonDeposit {

    padding: 15px 0px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 5px;
}

#Deposit .buttonDeposit button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#Deposit .buttonDeposit button:first-child {
    background-color: #053C5E;
    color: white;
    font-weight: bold;
}

#Deposit .buttonDeposit button:first-child:hover {
    background-color: #05466e;

}

#Deposit .buttonDeposit button:last-child {
    background-color: rgb(168, 168, 168);
    color: #ffffff;
    font-weight: bold;
}

#Deposit .buttonDeposit button:last-child:hover {
    background-color: rgb(146, 146, 146);

}





#loadingBody {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    position: absolute;
}

#loading {
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: none;
    border: 6px dotted rgb(255, 255, 255);
    border-radius: 50%;
    border-bottom: 6px dotted transparent;
    animation: loading 1s linear infinite;
}


@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#notifWithdraw {

    color: white;
    font-weight: bold;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 5px 0 0 0;
    text-align: center;
    justify-content: center;
    gap: 5px;
}

#notifDeposit {

    color: white;
    font-weight: bold;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 5px 0 0 0;
    text-align: center;
    justify-content: center;
    gap: 5px;
}



.apps {
    width: 100%;
    height: auto;
    min-height: 700px;
    position: absolute;
    top: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    overflow: auto;
}


.apps .app1 {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 0px black;
    width: 91%;
    min-height: 700px;
    height: auto;
    position: absolute;
    border-radius: 5px;
    top: 0%;
    padding: 10px;
    overflow: auto;
}

#transactionHistory {
    width: 100%;

    padding: 10px;
    box-sizing: border-box;


    border-radius: 5px;
    height: 100%;
}

.transactionHistoryHead {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(133, 133, 133);
}

#transactionHistory h2 {
    font-size: 17px;
    color: rgb(54, 54, 54);
}

#transactionTable {
    border: 1px solid rgba(0, 0, 0, 0.377);
    border-collapse: collapse;

}

#transactionTable th {
    background-color: #1F7A8C;
    color: white;
    padding: 10px;
}

#transactionTable tr,
th,
td {
    border: 1px solid rgba(0, 0, 0, 0.233);
    padding: 10px;
    width: 400px;
    color: rgb(63, 63, 63);
}


#success {
    background-color: rgb(42, 211, 99);
    color: white;
    text-align: center;
}

#failed {
    background-color: rgb(226, 51, 51);
    color: white;
    text-align: center;
}






@media (max-width:500px) {
    .bankContent {
        background-color: #ffffff;
        width: 94%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.473);
    }


    .bankContent .bankBtn {
        width: 100%;
        display: flex;
        gap: 5px;

    }


    .apps {
        width: 100%;
        height: auto;
        min-height: 600px;
        position: absolute;
        top: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        overflow: auto;
        background-color: transparent;
    }


    .apps .app1 {
        box-shadow: 0px 0px 3px 0px black;
        width: 100%;
        min-height: 600px;
        height: auto;
        position: absolute;
        border-radius: 5px;
        top: 0%;
        overflow: auto;
        background-color: transparent;

    }

    #transactionHistory {
        width: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        height: 100%;

    }

    .transactionHistoryHead {
        display: flex;
        align-items: center;
        gap: 10px;
        color: rgb(133, 133, 133);
    }

    #transactionHistory h2 {
        font-size: 17px;
        color: rgb(54, 54, 54);
    }

    #transactionTable {
        border: 1px solid rgba(0, 0, 0, 0.377);
        border-collapse: collapse;
        box-sizing: content-box;
    }

    #transactionTable th {
        background-color: #1F7A8C;
        color: white;
        padding: 10px;

    }

    #transactionTable tr,
    th,
    td {
        border: 1px solid rgba(0, 0, 0, 0.233);
        padding: 10px;
        width: 400px;
        color: rgb(63, 63, 63);

        font-size: 12px;
    }
}
