body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background-color: #053C5E;
}

body::before {
    content: " ";
    width: 100%;

    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    z-index: -2;
}

nav {
    color: rgb(255, 255, 255);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 7%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    
}

nav .rightSide {
    gap: 70px;
    display: flex;

}

nav .rightSide a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

nav .rightSide a::before {
    content: "";
    width: 0px;
    height: 20px;
    position: absolute;
    border-bottom: 3px solid rgb(255, 255, 255);
    transition: .2s;

}

nav .rightSide a:hover::before {
    width: 60px;
    height: 20px;
    border-bottom-right-radius: 8px;

}

#menuIcon {
    font-size: 25px;
    cursor: pointer;
    display: none;

}



#modalBody {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 100%;
    display: flex;
    color: rgb(0, 0, 0);
}

#modalBody .modalcontent {
    margin: auto;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 2px 0px rgb(255, 255, 255);
    width: 200px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    background-color: white;
}

#modalBody div h2 {
    font-size: 17px;
    box-sizing: border-box;
}

#modalBody .modalBtn {
    font-size: 13px;
    width: 100%;
    font-weight: bold;
    display: flex;
    gap: 10px;

}

#modalBody .modalBtn button:last-child {
    font-size: 12px;
    width: 100%;
    background-color: #1F7A8C;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 2px solid #1F7A8C;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;

}

#modalBody .modalBtn button:last-child:hover {
    background-color: #218599;
}

#modalBody .modalBtn button:first-child {
    font-size: 12px;
    width: 100%;
    background-color: #053C5E;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: white;
    border: 2px solid #053C5E;
    transition: .2s;
    cursor: pointer;

}

#modalBody .modalBtn button:first-child:hover {
    background-color: #074a74;
}

#logout {
    position: absolute;
    right: 6%;
    margin-top: 20px;
    background-color: white;
    padding: 3px 15px;
    color: black;
    cursor: pointer;
    display: none;
}






@media (max-width:800px) {

    body {
        overflow: hidden;
    }

    #menuIcon {
        display: block;
        position: absolute;
        right: 3%;
        top: 2%;
        color: rgb(255, 255, 255);
    }


    nav .rightSide {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        right: -350px;
        background-color: #0e456871;
        padding: 10px;
        height: 100vh;
        width: 250px;
        margin: auto;
        align-items: center;
        justify-items: center;
        text-align: center;
        transition: .2s;
        z-index: 1;
        backdrop-filter: blur(2px);
        color: rgb(0, 0, 0);

    }

    nav .rightSide a {
        align-items: center;
        display: flex;

        position: relative;
        top: 20%;
    }

    nav .profile {
        width: 100%;
        background-color: #1F7A8C;
        position: absolute;
        padding: 20px;
        top: 0%;
        left: 0;
        text-align: left;
        cursor: pointer;
        color: white;
    }

    #logout {
        position: absolute;
        right: 66%;
        top: 3%;
        background-color: white;
        padding: 3px 15px;
        color: black;
        cursor: pointer;
    }

}








#bankBody {
    position: absolute;
    width: 100%;
    top: 10%;
    z-index: -1;

}

.bankContent {
    background-color: #ffffff;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.473);
}


.bankContent .Balance {
    width: 100%;
    display: flex;
    gap: 5px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;

}

.bankContent .bankBtn {
    width: 40%;
    display: flex;
    gap: 5px;

}

.bankContent .bankBtn button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #1F7A8C;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #1F7A8C;
    transition: .2s;
}

.bankContent .bankBtn button:hover {
    background-color: white;
    color: #1F7A8C;
    border: 2px solid #1F7A8C;
    font-weight: bold;
}


#Deposit {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#Withdraw {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}



#loadingBody {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    position: absolute;
}

#loading {
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: none;
    border: 6px dotted rgb(255, 255, 255);
    border-radius: 50%;
    border-bottom: 6px dotted transparent;
    animation: loading 1s linear infinite;
}


@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
