body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background-color: #053C5E;


}

body::before {
    content: " ";
    width: 100%;

    height: 100%;
    display: flex;
    position: absolute;
}


#loginForm {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(255, 255, 255);
    max-width: 400px;
    width: 100%;

    padding-bottom: 10px;
    text-align: center;
    backdrop-filter: blur(3px);
    padding: 20px;
    font-size: 13px;
}

#loginForm .header {
    text-align: center;
}

#loginForm .header button {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    text-align: center;
    align-items: center;
    font-size: 16px;
    border: none;
    padding: 5px;
    width: 30px;
    color: rgb(255, 255, 255);
    background: none;
    cursor: pointer;

}

.usernameBody,
.passwordBody {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    margin-top: 10px;

}

.usernameBody .usernameLabelbody,
.passwordBody .passwordLabelBody {
    position: absolute;

    display: flex;
    align-items: center;
    gap: 5px;
    color: white;

}

.usernameBody .usernameLabelbody label,
.passwordBody .passwordLabelBody label {
    transition: .2s;
    cursor: text;
    color: white;
}


.usernameBody .usernameLabelbody i,
.passwordBody .passwordLabelBody i {
    color: white;
    font-size: 15px;
    border-right: 1px solid rgb(110, 110, 110);
    padding: 10px;

}

.usernameBody input,
.passwordBody input {
    padding: 15px 37px;
    box-sizing: border-box;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 5px;
    width: 100%;
    color: rgb(78, 78, 78);
    background: none;
    color: white;
}


.usernameBody input:focus~.usernameLabelbody label,
.passwordBody input:focus~.passwordLabelBody label,
.usernameBody input:not(:placeholder-shown)~.usernameLabelbody label,
.passwordBody input:not(:placeholder-shown)~.passwordLabelBody label {
    transform: translate(10px, -33px);

    padding: 0px 5px;

    font-size: 13px;
}


.buttonBody {

    padding: 10px;

}

.buttonBody button {
     background-color: #1F7A8C;
    padding: 10px;
    border: none;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: .2s;
}

.buttonBody button:hover {
    background-color: #208ba0;

}

p {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

p:hover {
    text-decoration: underline;
}







#loadingBody {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    position: absolute;
}

#loading {
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: none;
    border: 6px dotted rgb(255, 255, 255);
    border-radius: 50%;
    border-bottom: 6px dotted transparent;
    animation: loading 1s linear infinite;
}


@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
